@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}